.baseMapToggle {
    float:left;
    width:auto
}

.baseMapToggle button {
    height:40px;
    width:80px;
    background-color:#474343;
    color:#fff
}

.baseMapToggle button.activeButton {
    color:#474343;
    background-color:#fff
}


.btn-group_leftButton {
  border-radius:40px 0 0 40px;
}

.btn-group_rightButton {
  border-radius:0 40px 40px 0; 
  margin-right:40px;
}



// Refactor
#resultsButton {
    display:none;
    float:right;
}