<div class="container-fluid">
    <div class="row" style="padding-top:5px">
        <div id="headerBar">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div id="searchBar"></div>
                        <!-- <div class="input-group" style="margin-left:20px">
                            <input type="text" class="form-control" placeholder="Search" id="searchBar">
                            <span class="input-group-btn">
                                <button class="btn btn-default menuButton appButton" type="button" id="searchGo">Go</button>
                            </span>
                        </div><! ---- /input-group -->
                    </div>
                </div><!-- /.row -->
            </div>

            <div class="col-md-6">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group homeFindButtons">
                        <button type="button" class="btn btn-default menuButton appButton iconButton" id="homeButton">
                            <img src="assets/images/home_icon.png">
                            <div class="iconLabel ">Home</div>
                        </button>
                        <button type="button" class="btn btn-default menuButton appButton iconButton" id="currentLoc">
                          <img src="assets/images/location_icon_ios_2.png">
                          <div class="iconLabel">Find Me</div>
                      </button>
                    </div>

                    <div class="dropdown" style="float:right; margin-right:20px;">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle menuButton appButton" data-toggle="dropdown">
                                Menu
                                <span>
                                    <i class="fa fa-caret-down"></i>
                                  <!-- <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="-298 385.9 13.7 22.1" enable-background="new -298 385.9 13.7 22.1" xml:space="preserve">
                                    <path fill="#FFFFFF" d="M-289.6,403.2l8.8-8.8c0.8-0.8,0.8-2.1,0-2.9l-0.7-0.7c-0.8-0.8-2.1-0.8-2.9,0l-6.7,6.7l-6.7-6.7 c-0.8-0.8-2.1-0.8-2.9,0l-0.7,0.7c-0.8,0.8-0.8,2.1,0,2.9l8.8,8.8c0.4,0.4,1,0.6,1.6,0.6C-290.6,403.9-290,403.7-289.6,403.2z"/>
                                </svg> -->
                            </span>
                            </button>

                            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1" style="top:47px">
                                <li role="presentation" class="divider"></li>
                                <li role="presentation">
                                    <div id="helpMenu">
                                        <a role="menuitem" tabindex="-1" href="#">HELP</a>
                                    </div>
                                </li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation">
                                    <div id="helpImageContainer">
                                        <div class="helpImage">
                                            <a href="http://www.esri.com" target="_blank"><img src="assets/images/powered-by-esri-logo-med.png"></a>
                                        </div>
                                        <div class="helpImage">
                                            <a href="http://www.umn.edu" target="_blanl"><img src="assets/images/UMN_M_white.gif" style="margin-left:20px"></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>