<div id="resultsSmall">  
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <!-- EMPTY SPACE? -->
            </div>

            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-4">
                        <div id="viewReport">
                            <span id="viewReportLink">View Report</span>
                            <i class="fa fa-print"></i>
                            <!-- <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                                <g>
                                      <rect fill="#FFFFFF" x="160.008" y="384" width="159.984" height="32"/>
                                      <path fill="#FFFFFF" d="M128.008,32h255.984v64h32V32c0-17.656-14.313-32-32-32H128.008c-17.672,0-32,14.344-32,32v64h32V32z"/>
                                      <rect fill="#FFFFFF" x="160.008" y="320" width="191.984" height="32"/>
                                      <path fill="#FFFFFF" d="M479.992,128H32.008c-17.672,0-32,14.344-32,32v192c0,17.688,14.328,32,32,32h64v96c0,17.688,14.328,32,32,32h255.984
                                    c17.688,0,32-14.313,32-32v-96h64c17.688,0,32-14.313,32-32V160C511.992,142.344,497.68,128,479.992,128z M383.992,480H128.008V288
                                    h255.984V480z M447.992,224c-17.688,0-32-14.313-32-32c0-17.656,14.313-32,32-32s32,14.344,32,32
                                    C479.992,209.688,465.68,224,447.992,224z"/>
                                </g>
                            </svg> -->
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div id="emailReport">
                            <span id="emailReportLink">Email Report</span>
                            <i class="fa fa-envelope-o"></i>
                            <!-- <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 57.991 38.015" style="enable-background:new 0 0 57.991 38.015;" xml:space="preserve" width="20px" height="20px">
                                <g id="Shape_17">
                                    <g>
                                        <path fill="#FFFFFF" style="fill-rule:evenodd;clip-rule:evenodd;" d="M57.991,4.816c0-1.238-0.489-2.358-1.269-3.212
                                          c-0.013-0.017-0.016-0.037-0.03-0.054c-0.013-0.015-0.031-0.021-0.045-0.035C55.76,0.587,54.51,0,53.118,0H4.874
                                          C3.482,0,2.232,0.587,1.343,1.515C1.33,1.529,1.311,1.535,1.298,1.551c-0.014,0.016-0.017,0.037-0.03,0.054
                                          C0.489,2.459,0,3.578,0,4.816v28.384c0,1.268,0.509,2.415,1.323,3.276c0.016,0.018,0.021,0.04,0.039,0.057
                                          c0.006,0.006,0.013,0.007,0.019,0.013c0.887,0.904,2.122,1.47,3.493,1.47h48.244c1.371,0,2.607-0.567,3.493-1.471
                                          c0.006-0.005,0.013-0.007,0.019-0.012c0.017-0.016,0.022-0.038,0.038-0.055c0.815-0.861,1.324-2.009,1.324-3.278V4.816z
                                           M39.01,17.508L55.722,3.651c0.164,0.356,0.261,0.749,0.261,1.165v28.384c0,0.376-0.078,0.733-0.213,1.062L39.01,17.508z
                                           M53.118,1.985c0.421,0,0.818,0.096,1.179,0.258L28.996,23.22L3.695,2.243c0.361-0.162,0.758-0.258,1.179-0.258H53.118z
                                           M2.222,34.261c-0.135-0.328-0.213-0.686-0.213-1.062V4.816c0-0.416,0.097-0.809,0.261-1.165l16.712,13.857L2.222,34.261z
                                           M4.874,36.03c-0.464,0-0.896-0.12-1.284-0.314l16.936-16.929l7.825,6.488c0.186,0.155,0.416,0.233,0.645,0.233
                                          c0.229,0,0.459-0.078,0.645-0.233l7.825-6.488l16.936,16.929c-0.388,0.194-0.82,0.314-1.284,0.314H4.874z"/>
                                    </g>
                                </g>
                            </svg> -->
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div id="closeResults">Close 
                            <i class="fa fa-times-circle-o"></i>
                            <!-- <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve" width="25px" height="25px">
                                <g id="Error">
                                    <g>
                                        <path fill="#FFFFFF" style="fill-rule:evenodd;clip-rule:evenodd;" d="M21.987,11.44c-0.015-0.363-0.15-0.723-0.428-1
                                            c-0.277-0.277-0.637-0.413-1-0.428c-0.404-0.017-0.813,0.119-1.121,0.428L16,13.879l-3.438-3.439
                                            c-0.309-0.309-0.717-0.444-1.121-0.428c-0.363,0.015-0.723,0.15-1,0.428c-0.277,0.277-0.413,0.637-0.428,1
                                            c-0.017,0.404,0.119,0.812,0.428,1.121L13.879,16l-3.438,3.438c-0.309,0.309-0.444,0.717-0.428,1.121
                                            c0.015,0.363,0.15,0.723,0.428,1c0.277,0.277,0.637,0.413,1,0.428c0.404,0.017,0.812-0.119,1.121-0.428L16,18.121l3.439,3.439
                                            c0.309,0.309,0.717,0.444,1.121,0.428c0.363-0.015,0.723-0.15,1-0.428c0.277-0.277,0.413-0.637,0.428-1
                                            c0.017-0.404-0.119-0.812-0.428-1.121L18.121,16l3.438-3.438C21.868,12.253,22.004,11.845,21.987,11.44z M16,0
                                            C7.164,0,0,7.164,0,16c0,8.836,7.164,16,16,16c8.836,0,16-7.164,16-16C32,7.164,24.836,0,16,0z M16,29C8.832,29,3,23.168,3,16
                                            C3,8.832,8.832,3,16,3s13,5.832,13,13C29,23.168,23.168,29,16,29z"/>
                                    </g>
                                </g>
                            </svg> -->
                        </div>
                    </div>
                </div>  <!-- end row -->
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="resultsDisplay noselect" id="results"></div>
            </div>
            <div class="col-md-8">
                <div class="row" style="margin-top:40px;">
                    <div class="col-md-6">
                        <div class="resultsDisplay noselect" id="resultsHisto" style="  float:left; display:inline-block;"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="resultsDisplay noselect" id="sunHrHisto" style="float:right; display:inline-block;"></div>
                    </div>
                </div>
            </div>
        </div>  <!-- ROW END -->
    </div> <!-- CONTAINER END --> 
</div> <!-- END ResultsSmall -->